.banner-content {
  display: flex;
  gap: 20px;
}

.banner-content__info {
  border: green 5px solid;
}

.banner-content__info--headline {
  font-weight: bold;
  font-size: 25px;
}

.banner-content__info--detail {
  font-size: 18px;
  color: grey;
}

.banner-content__img {

}