.banner-content {
  width: 700px;
  margin: 60px;
  display: flex;
  gap: 20px;
}

.banner-content__info {
  width: 45%;
  border: green 5px solid;
  padding: 10px;
  margin: 10px;
}

.banner-content__info--headline {
  font-weight: bold;
  font-size: 25px;
}

.banner-content__info--detail {
  font-size: 18px;
  color: grey;
}

.banner-content__img {
  width: 50%;
  padding-bottom: 30px;
  object-fit: cover;
}