/* suppress nested section padding */
.rates-wrapper {
  display: flex;
  flex-direction: row;
}

.rates-wrapper > .section {
  padding: 0;
}

.rates-wrapper > .section .header {

}

.rates-wrapper > .section .rates {
  display: none;
}

.rates-wrapper > .section.open .rates {
  display: flex;
}

.rates-wrapper > .section .rates > div:first-of-type {

}

.rates-wrapper > .section .rates > div {

}